*{
    margin:0px;
    padding:0px;
}
body, html{
    border:border-box;
    background-color: #e1e9ee;
}
.nav-bar {
    height: cover;
    background-color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.uns {
    height:cover;
    width:100vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    padding: 20px;
}
.uns1{
    font-size: 15px;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
}

.p1 {
    font-size:30px;
    font-weight:px
}
ul{
    display:flex;
    width:1000px;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: large;
    font-weight: 2px;
}
#i3{
    font-size: smaller;
}

#pp1 {
    font-size: 13px;
}
.d2 {
    height: 70px;
    color:white;
    background-color: #0f0859;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    position: sticky;
    top:0px;

}
.barr{
    height:400p;
    width:200px;
    position: absolute;
    top:40px;
    margin-top: 0px;
    color:black;
    background-color: aliceblue;
    display:none;
}
.vision{
    height:200px;
    width:200px;
    color:black;
    background-color: #e1e9ee;
    position: absolute;
    top:50px;
    right:1030px;
    border-radius:10px;
    padding: 15px;
    display: none;
}
#vvv{
    color:black;
}
.btn{
    color: aliceblue;
}
.h4{
    color: black;
}
.h4:hover{
    color: #9f2929;
}
.aa {
    color: aliceblue;
}
.aa:hover{
    color:#9f2929;
    
}
select {
    background-color: #0f0859;
    color:white;
    height:30px;
    width:150px;
    font-size: 18px;
    
}

.d3{
    height:42px;
    background-color: #9f2929;
    border:1px solid white;
}
.d4{
    height:700px;
    display:flex;
    justify-content: center;
}
.dd1{
    height:80%;
    width:14%;
    background-color: #9f2929;
    border-radius: 10px;
}
.ddd1{
    height: 50px;
    color:rgb(228, 226, 226);
    display:flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: -100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ddd1:hover{
    background-color: white;
    color:black;
}
.ddd1:active{
    background-color: green;
    color:white
}
.ddd2{
    height:cover;
    border: 0.2px solid rgb(224, 223, 223);
    color:rgb(226, 224, 224);
    display:flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dd3{
    height:100%;
    width:14%;
    background-color: #9f2929;
    border-radius: 10px;
}
.dd2{
    width:55vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0f0859;
}
.sa{
    height:46px;
    border-bottom: 1px solid rgb(175, 174, 174);
}
.info {
    height:100px;
    color:#0f0859;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pri{
    font-size: 20px;
    font-weight:900;
}
.pri1{
    font-size: 15px;
}
ul{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
}
.info1 {
    display: flex;
}
.info2 {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.foot {
    height:400px;
    background-color: #232323;
    color:rgb(233, 232, 232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot1 {
    width:100%;
    height:cover;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding:0px;
}
.fooot{
    height:500px;
    align-self: self-start;
}
.root {
    height:40vh;
    width:20%;
    font-size: larger;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h3 {
    color:#9f2929;
}
#i {
    color:#9f2929;
}
#i2{
    font-size:15px;
    color:white;
}

#d3 {
    font-size: larger;
}
pre{
    display:flex;
    gap: 20px;;
}
#pre {
    display:flex;
    flex-direction: column;
    gap:0px;

}
a {
    text-decoration: none;
}
.chan{
    color:  black;
}
.chan:hover{
    color:red;
}


@media(max-width:770px){
    .nav-bar{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .heading img{
        width:100%;
    }
    .uns{
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .uns1{
        display: flex;
        flex-wrap: wrap;
        
    }
    .chan{
        margin: 7px;
    }
    .d4{
       display: flex;
        flex-direction: column;
        height:2000px;
        width:100%;
    }
    .dd1{
        width: 100%;
    }
    .dd2{
        width: 100%;
    }
    .aa{
        display: none;
    }
    .foot1{
        height:1400px;
        display: flex;
        flex-direction: column;
        background-color: #232323;
        margin-top:1000px;
        padding: 0%;
    }
    .root{
        width:90%;
        padding: 5%;
        
    }
}